@page
@model Portal.Web.Pages.Foods.IndexModel
@{
    ViewData["Title"] = "Index";
    int i = 1;
}

<h1>Foods</h1>

<table class="table">
    <thead>
        <tr>
          
            <th>Name</th>
            <th>Price</th>
            <th>Type</th>
            <th></th>

           
        </tr>
    </thead>
    <tbody>
        @foreach (var food in Model.FoodList)
        {
            <tr>
              
                <td>@food.Name</td>
                <td>@food.Price.Amount $</td>
                <td>@food.FoodType</td>
                <td><a class="btn btn-primary text-light" asp-page="Order" asp-route-foodId="@food.Id">Order</a> </td>
                
            </tr>

        }
    </tbody>
</table>